<h2>Catégorisation des écritures</h2>


<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

<table>
    {% for f in form.visible_fields%}
    <tr>
        <th>
            {{f.label_tag}}
        </th>
        <td>
            {{f}}
        </td>

    </tr>

    {% endfor %}
</table>

</form>

<table>
    <form method="post" enctype="multipart/form-data">
    {{ formset.management_form }}
        {% csrf_token %}
        <table>

        <tr>
            <th>Date</th>
            <th>Libellé</th>
            <th>Crédit</th>
            <th>Débit</th>
            <th>Hors compta</th>
            <th>Catégorie comptable</th>
            <th>Facture</th>
            <th>Plusieurs factures</th>

        </tr>

        {% for form, ecr in zip %}


        <tr>
            <td>{{ecr.date_valeur}}</td>
            <td>{{ecr.libelle}}</td>
            <td>{{ecr.credit}}</td>
            <td>{{ecr.debit}}</td>
            <td>{{ form.hors_compta }}</td>
            <td>{{ form.categorie_comptable }}</td>
            <td>{{ form.facture }}</td>
        </tr>

        {% endfor %}
    </table>
        <button type="submit" >Save</button>
    </form>
</table>





  </form>